.main--div {
    width: 100%;
    margin-top: 100px;
    display: flex;
}

.left--column {
    width: 25%;
    margin-left: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mid--column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topMain--div {
    width: 100%;
}

.div--quote {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote--sentence {
    font-weight: 400;
    font-style: italic;
}

.quote--author {
    font-weight: 700;
    text-align: right;
}

.right--column {
    width: 25%;
    margin-right: 50px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gif--container--right {
    text-align: right;
}

.gif--container--left {
    text-align: left;
}

.motivation--gif {
    width: 80%;
    margin-top: 20px;
}

.categories--title {
    font-weight: 400;
    font-size: 0.9rem;
}

.link--categories {
    text-decoration: none;
    color: black;
}

.categories {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.category--item {
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
    margin: 8px 0px;
    text-decoration: none;
}

@keyframes fade-inout {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.write--post {
    margin-top: 10px;
    border-radius: 7px;
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7;
    background-color: #f2f2f2;
    color: black;
    padding: 14px 16px;
    width: 30%;
    font-size: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    animation: fade-inout 1.5s infinite alternate;
}

.write--post:hover {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.25);
    animation: none;
}

    /* color: #0f1419;
    border: 1px solid #cfd9de;
    border-radius: 18px;
    background: white;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold; */